body{
	background-color: black;
	color: white;
	margin: 0;
	font-family: "Avenir";
}
.container{
	text-align: center;
}
.colorContainer{
	margin: 0 auto;
	max-width: 600px;
	margin-top: 20px;
}
#colorDisplay{
	font-size: 140%;
	text-transform: uppercase;
}
.nav{
	background: white;
	height: 30px;
	text-align: center;
}
.square{
	float: left;
	height: 30%;
	width: 30%;
	margin: 1.6%;
	background-color: red;
	border-radius: 20px;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}
#message{
	color: steelblue;
	display: inline-block;
	width: 20%;
}
.header-bg{
	background-color: steelblue;
	margin-bottom: 0;
	font-size: 280%;
	font-weight: normal;
	line-height: 1.1;
	padding-top: 10px;
	padding-bottom: 10px;
}
.hide{
	display: none;
}
button{
	border: none;
	background: none;
	height: 100%;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: inherit;
	color: steelblue;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	outline: none;
}
button:hover{
	color: white;
	background: steelblue;
}

.selectedBtn{
	color: white;
	background: steelblue;
}
